<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${cat.catName}"></title>
	<div th:replace="/customer/common::header-css"></div>
</head>
<body>
<div th:replace="/customer/common::header"></div>
<div class="container mt-3">
	<div class="row g-2">
		<div class="col-xs-12 col-lg-3 order-1 order-lg-0">
			<div th:replace="/customer/common::side-menu"></div>
		</div>
		<div class="col-xs-12 col-lg-9 order-0 order-lg-1">
			<h2 class="heading" th:text="${cat.catName}"></h2>
			<p th:text="${cat.description}"></p>
			<div th:replace="/customer/common::plant-list"></div>
			<div th:replace="/customer/common::pagination"></div>
		</div>
	</div>
</div>
<div th:replace="/customer/common::footer"></div>
</body>
</html>