<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:fragment="header-css">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
        <link th:href="@{/assets/css/vendor/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/assets/css/customer/global.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="header">
    <div class="top-head">
        <div class="container">
            <div class="top-head__left">
                <i class="bx bx-phone bx-sm"></i>Hotline:&nbsp;<strong>0393417020</strong>
            </div>
            <ul class="top-head__right">
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <a href="/user-info">
                            <i class="bx bxs-user-circle"></i> Tài Khoản
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="bx bxs-exit"></i> Đăng Xuất
                        </a>
                    </li>
                </th:block>
                <th:block sec:authorize="not isAuthenticated()">
                    <li class="top-head__login">
                        <a href="/login"><i class="bx bx-lock"></i> ĐĂNG NHẬP</a>
                        <ul>
                            <li>
                                <a href="/login" class="btn btn-login">
                                    <i class="bx bx-log-in bx-sm"></i>
                                    Đăng Nhập
                                </a>
                            </li>
                            <li>
                                <a href="/oauth2/authorization/facebook" class="btn btn-login btn-login-facebook">
                                    <i class="bx bxl-facebook bx-sm"></i>
                                    Đăng Nhập Facebook
                                </a>
                            </li>
                            <li>
                                <a href="/oauth2/authorization/google" class="btn btn-login btn-login-google">
                                    <i class="bx bxl-google bx-sm"></i>
                                    Đăng Nhập Google
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="top-head__register">
                        <a href="/register"><i class="bx bx-user-plus"></i> ĐĂNG KÝ</a>
                    </li>
                </th:block>
                <li class="top-head__cart">
                    <a href="/cart"><i class="bx bx-cart bx-sm me-1"></i> Giỏ hàng
                    <th:block th:text="${session['cart_count']?:0}"></th:block>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="header__logo">
                <a href="/">
                    <img
                            src="https://vuoncayviet.com/img/logo.png"
                            alt="logo"
                            class="img-fluid"
                    />
                </a>
                <div class="header__title">
                    Vườn Cây Việt
                    <p>Không Chỉ Là Cây Cảnh</p>
                </div>
            </div>
            <div class="header__search">
                <form action="/search" method="get">
                    <div class="input-group">
                        <input
                                type="text"
                                class="form-control"
                                name="q"
                                placeholder="Tìm Kiếm"
                        />
                        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <button
                    class="navbar-toggler align-items-center text-white d-flex d-md-none"
                    data-bs-toggle="collapse"
                    data-bs-target="#nav-menu"
            >
                <i class="bx bx-menu bx-md text-white"></i> Menu
            </button>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/intro">Giới Thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                        >Cây Cảnh <i class="bx bxs-down-arrow"></i
                        ></a>
                        <ul class="nav__categories">
                            <li th:each="cat: ${categories}">
                                <a th:href="'/categories/'+${cat.id}" th:text="${cat.catName}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog - Tin Tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Liên Hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/support">Hỗ Trợ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Dịch Vụ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
<div th:fragment="account-menu" class="account-menu" th:object="${user}">
    <div class="account-menu__avatar">
						<span class="account-menu__avatar-img">
							<img
                  th:src="*{avatar}?*{avatar}:'https://vuoncayviet.com/img/user2-160x160.jpg'"
                  alt="avatar"
                  class="img-fluid"
              />
						</span>
        <strong th:text="*{fullName}"></strong>
    </div>
    <ul class="account-menu__links">
        <li>
            <a href="/user-info">Thông tin cá nhân</a>
        </li>
        <li>
            <a href="/change-pass">Đổi mật khẩu</a>
        </li>
        <li>
            <a href="/my-orders">Đơn hàng của tôi</a>
        </li>
        <li>
            <a href="/logout">Đăng xuất</a>
        </li>
    </ul>
</div>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>TRUY CẬP NHANH</h4>
                    <ul>
                        <li>
                            <a href="/intro">Giới Thiệu</a>
                        </li>
                        <li>
                            <a href="/service">Dịch Vụ</a>
                        </li>
                        <li>
                            <a href="/blog">Blog - Tin Tức</a>
                        </li>
                        <li>
                            <a href="/contact">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <h4>TÀI KHOẢN</h4>
                    <ul>
                        <li>
                            <strong>Ngân hàng Đông Á</strong> Số TK: 0103720160, PGD Tô Hiến
                            Thành, TP. HCM - Chủ Tài Khoản: Dương Công Đông.
                        </li>
                        <li>
                            <strong>Ngân hàng VietCombank</strong> Số TK: 042 100 385 5531 -
                            Chủ Tài Khoản: Nguyễn Thị Hồng Vân.
                        </li>
                        <li>
                            <strong>Ngân Hàng ACB</strong> Số TK:130230819 - Chủ TK: Dương
                            Công Đông
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</th:block>
<th:block th:fragment="side-menu">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active"
        >Cây cảnh</a
        >
        <a th:each="cat: ${categories}" th:text="${cat.catName}" th:href="'/categories/'+${cat.id}" class="list-group-item list-group-item-action"
        ></a
        >
    </div>
    <div class="list-group mt-3">
        <a href="#" class="list-group-item list-group-item-action active"
        >Tin tức nổi bật</a
        >
        <a
            th:each="blog: ${recentBlogs}"
            th:href="'/blog/'+${blog.id}"
            class="list-group-item list-group-item-action blog-post clearfix"
        >
            <div class="blog-post__img">
                <img
                    th:src="${blog.thumbnail}"
                    alt="img"
                />
            </div>
            <h4 th:text="${blog.title}">
            </h4>
            <p th:utext="${blog.content.substring(0,100)+'...'}">
            </p>
        </a>
    </div>
</th:block>
<div class="row g-2" th:fragment="plant-list">
    <div th:each="plant: ${plants}" class="col-xs-12 col-sm-6 col-lg-4">
        <div class="product-card">
            <a th:href="'/products/'+${plant.id}" class="product-card__img">
                <img
                    th:src="${plant.thumbnail}"
                    alt="img"
                />
            </a>
            <a class="product-card__name" th:href="'/products/'+${plant.id}" th:text="${plant.name}"></a>
            <div class="product-card__bottom">
                <div class="product-card__price" th:text="${#numbers.formatInteger(plant.price,3,'COMMA')}+' VND'"></div>
                <div class="product-card__actions">
                    <a th:href="'/cart/add?id='+${plant.id}">
                        <i class="bx bx-shopping-bag bx-sm"></i>
                    </a>
                    <a th:href="'/products/'+${plant.id}">
                        <i class="bx bx-search bx-sm"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination mt-2" th:fragment="pagination">
    <li th:each="page: ${pages}" class="page-item">
        <a th:href="'?page='+${page}" class="page-link" th:if="${page!='...'}" th:text="${page}"></a>
        <span class="page-link disabled" th:if="${page=='...'}">...</span>
    </li>
</ul>

<div th:fragment="blog-list" class="row g-2">
    <div th:each="blog: ${blogs}" class="col-xs-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <img
                th:src="${blog.thumbnail}"
                alt="img"
                class="card-img-top"
            />
            <div class="card-body">
                <a th:href="'/blog/'+${blog.id}" class="card-title">
                    <h5 th:text="${blog.title}">
                    </h5>
                </a>
                <p class="card-text" th:utext="${blog.content.substring(0,100)+'...'}">
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</body>
</html>